# Assignment _1

# Q - 1


1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*

&#39;hello&#39;

-87.8

-

/

+

6

# A - 1

*  --> 
            Mathematical operator

&#39;hello&#39; --> 
           string 

-87.8 --> 
            Floating number

- --> 
            negative operator

/ --> 
            division operator

+ --> 
            addition operator

6 --> 
            interger

# Q - 2

What is the difference between string and variable?

# A - 2

String - is a specific type of data used to represent text & in python are surrounded by either single quotation 
        marks, or double quotation marks.'hello' is the same as "hello".
        We can display a string literal with the print() function

variable - is a storage location that can hold different types of data, including strings. 
           Variables can be used to store and manipulate various kinds of information throughout the execution of a program.Python has no command for declaring a variable & is created the moment you first assign a value to it.

Example
x = 5
y = "John"
print(x)
print(y)

ans - 5
      John

# Q - 3

Describe three different data types.

# A - 3

Integer (int): The integer data type represents whole numbers without any fractional or decimal part. It includes both positive and negative numbers, as well as zero. Examples of integers are -5, 0, and 10.

String (Str) :The string data type is used to represent a sequence of characters.Strings are typically enclosed in quotation marks, such as "Hello, world!" or 'Hello, world!'. They can include letters, numbers, symbols, and whitespace.

Boolean: The boolean data type has two possible values, true or false. It is used to represent logical values or conditions. Booleans are commonly used in programming to control flow and make decisions based on certain conditions.

# Q - 4

What is an expression made up of? What do all expressions do?

# A - 4

An expression is made up of a combination of values, variables, operators, and function calls that can be 
evaluated to produce a resulting value. It can represent a computation or a specific operation.

1. Performing calculations
2. Making comparisons
3. Assigning values
4. Controlling program flow

# Q - 5

This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

# A - 5

Expression:
    An expression is a combination of values, variables, operators, and function calls that can be evaluated to produce a       resulting value. And it represents something & evalutes it & returns in Values.
    Example : 5.6, (2*3)+5
    
    
Statement:
    A statement, on the other hand, is a complete instruction or action that performs a specific operation or task.
    It does something,excutes that with results in action.
    Example : print('this is print statement'), import pandas

# Q - 6

After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

# A - 6

In [2]:
bacon = 22 
bacon + 1
bacon

22

# Q - 7

What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

# A - 7

In [6]:
a='spam' + 'spamspam'

a1='spam' * 3

print(a)
print(a1)

spamspamspam
spamspamspam

# Q - 8

Why is eggs a valid variable name while 100 is invalid?

# A - 8

A variable name must start with a letter or the underscore character. A variable name cannot start with a number. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ) Variable names are case-sensitive (age, Age and AGE are three different variables)

# Q - 9

What three functions can be used to get the integer, floating-point number, or string
version of a value?

# A - 9

int(): This function is used to convert a value to an integer. It extracts the whole number portion of a numeric value 
    and discards any decimal places. For example, int(5.8) would return the integer 5.

float(): This function is used to convert a value to a floating-point number. It converts a value to a number with 
    decimal places, even if the original value was an integer. For example, float(3) would return the floating-point number 3.0.

str(): This function is used to convert a value to a string. It converts a value to its textual representation. 
    For example, str(10) would return the string "10".

# Q - 10

Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + 'burritos'

# A - 10

In [8]:
'''This is the type error we got when we run the program as str & int can't be concatenate So we can concatenate by
   converting int to str'''

'I have eaten ' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [9]:
'I have eaten ' + str(99) + 'burritos'

'I have eaten 99burritos'